##local files

#node
node_modules/
package-lock.json
package.json

#storage files
storage/
dumps/

#config file containing secret bot token
config.json

#development exclusive command
commands/dev.js

#ide
*.iml
.idea/